@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url(../fonts/OpenSans-Bold.ttf) format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url(../fonts/OpenSans-Regular.ttf) format("opentype");
  font-style: normal;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  
}
body{
  font-size: 20px;
}
.header { 
  background-image: url(../images/football_1920.jpg); 
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  z-index: 5;
}
.container {
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
 z-index: 6;
 background-image: url();
}
.logo_text { 
width: 191px;
height: 52px;
margin-left: auto;
margin-right: auto;
margin-top: 45px;
}
.logo-link {
  fill: #ffffff;
  position: relative;
}
.greeting {
  margin-bottom: 410px;
}
.header-title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 4.5em;
  color: #ffffff;
  width: inherit;
  margin-top: 15%;
  position: relative;
}
.tagline_1 {
  margin-left: 10%;
  text-align: left;

}
.tagline_2{
  text-align: right;
  margin-right: 10%;
}

.button-link {
position: relative;
display: flex;
justify-content:center;
margin-bottom: 110px;
}
.button {
  display: inline-flex;
  display: flex;
  width: 310px; 
  border: 0px solid;
  border-radius:100px;
  background-color: #5e42b0;
  text-decoration: none;
}
.app {
  margin-right: 50px;
}

.logo_store {
  width: 42px;
  height: 48px;
   fill: #ffffff;
  position: relative;
 margin: 10px 25px 10px 30px;
}
.button-text {
  display: flex;
  flex-direction: column;
color: #fff;
text-transform: uppercase;
margin: 20px 10px;
font-size: 14px;
}
.container::before {
  background-color: rgba(10, 14, 52, 0.9);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*main*/  





 


.hi_box {
  position: relative;
  color: #e7e7e7;
  width: 100vw;
}
.section_title::after {
  position: absolute;
  z-index: 1;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 908px;
  background-color: transparent;
  background-image: url("../images/footballer_566.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
  transform: translateX(-600px) scale(0.9);
}
.athlets {
padding-top: 60px;
padding-bottom: 55px;
}
.atlets_title {
  position: relative;

  padding-left: 26px;
  margin-bottom: 28px;

  font-size: 1.438rem;
  line-height: 1;
  color: #c1c1c1;
}
.atlets_title::before {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: bold;
  color: #000000;
}


.number {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.number::after {
  content: "";
  position: relative;
  display: block;
  width: 18px;
  height: 5px;
  background-color: #5e42b0;
  margin: 0 auto;
  top: 0;
  border-radius: 2px;
}
.number_v2::after {
  content: "";
  position: relative;
  display: block;
  width: 18px;
  height: 5px;
  background-color: #efefef;
  margin: 0 auto;
  top: 0;
  border-radius: 2px;
}
.title_aside {
  font-size: 36px;
  text-transform: uppercase;
  color: #c1c1c1;
}
.box {
  display: flex;
}
.content {
  display: flex;
  color: #000;
  font-size: 20px;
  flex-wrap: wrap;
}
.heading_02 {
  background-color: #f6f4fa;
}
.heading_03 {
  background-color: #5e42b0;
}
.content_v2 {
  color: #ffffff;
}

.athlets {
  padding-left: 50px;
  margin-left: 50%;
  
}













